div {
    border: 2px solid green;
}

h1 {
    text-align: center;
}

img {
    width: 30%;
    border: 2px black solid;
    float: left;
    margin-left: 1%;
    margin-top: 20px;
}

p {
    width: 30%;
    float: right;
    margin-right: 30%;
}

#sobre {
    padding: 20px 20px;
    height: 300px;
}

a.lado {
    margin-left: 2.5%;
}